.CurrentUser {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 287px;
  }

  .CurrentUser--identification {
    padding: 1em;
    flex: 1;
  }

  .CurrentUser--photo {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      padding: 15px;
  }


